/* Use alternative box model */
html {
    font-size: 10px;
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  /* body section */
  body {
    background-color: rgb(63, 63, 63);
    margin: 0;
    padding: 0;
    font-family: 'Walter Turncoat', cursive;
   }

   .grid-container {
       padding: 10px;
       margin: 10px;
       width: 240px;
       height: 240px;
       /* background-color: brown; */
       display: grid;
       grid-gap: 2px;
       /* number of columns, 4 columns and they will spread as */
       grid-template-columns: repeat(16, 1fr);
   }

   .grid-element {
       background-color: burlywood;
       width: 30px;
       height: 30px;
       font-size: .7rem;
   }

   /* .grid-element:hover {
    background-color: black;
   } */

   .grid-element-test {
       background-color: blueviolet;
   }

   .grid-element-black {
       background-color: black;
       width: 30px;
       height: 30px;
       font-size: .7rem;
   }